- var classlist = 'bg-gradient-to-r from-blue-200 to-blue-300 hover:from-blue-300 hover:to-blue-200 transition-all duration-500 text-white rounded-full px-8 py-3 '
mixin button(btn, href, text)
  if btn === "a"
    #{btn}(href=href class=classlist)&attributes(attributes)=text
  else
    #{btn}(class=classlist)&attributes(attributes)=text
